.header {
    padding: 50px;
    height: 30%;
    width: 30%; /** Use 100% to fill the width of the page **/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    
}

img.banner {
    display: block;
    margin: 0 auto;
} 
.content {
    position: relative;
    width: 90%;
    height: 90%;
    border: 3px solid blue;
    border-radius: 3px;
    padding: 20px;
    margin-top: 15%;
}

.profile-container {
    background-color: lightgrey;
    border: 2px solid white;
    border-radius: 2em;
    float: left;
    padding: 10px;
}

.bottle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 300px;
    border : 3px solid black
}
/* .column {
    float: left;
    width: 33%;
    border: 2px solid black;
    margin: 20px;
    padding: 5px;
  } */
  
  /* Clear floats after the columns */


  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

body{
    height: 100%;
    background:white;
}

body{
    display: flex; 
    justify-content: center;
    align-items: center;
} 

.box{
    width: 90px;
    height: 90px;
    border: 2px solid lightblue;
    border-radius: 10em;
    position: relative;
    overflow: hidden;

    transform: scale(2);
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wave{
    width: 150px;
    height: 200px; /* where wave height is controlled */ 
    position: absolute;
    left: -50%;
    bottom: -190%;
    border-radius: 33%;
    transition: all 1.4s linear; 
    animation: waves 2.4s linear infinite;
}

.lightblue{
    background: lightblue;
    animation-fill-mode: forwards;
}

@keyframes waves{
    
    0%{
        transform: rotate(0);
        border-radius: 30%;
        bottom: -170px;
    }
    50%{
        bottom: -150px;
        border-radius: 39%;
    }
    100%{
        transform: rotate(180deg);
        border-radius: 30%;
        bottom: -170px;
    }
    
}

