.column {
    float: left;
    width: 33.33%;
    border: 2px solid black;
    margin: 20px;
    padding: 5px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

body{
    height: 100%;
    background:lightblue;
}

body{
   display: flex; 
    justify-content: center;
    align-items: center;
} 

.box{
    width: 75px;
    height: 150px;
    border: 2px solid white;
    border-radius: 0.3em;
    position: relative;
    overflow: hidden;
    /* box-shadow: 2px 0px 40px black; */
    transform: scale(2);
}

.wave{
    width: 150px;
    height: 200px; /* where wave height is controlled */ 
    position: absolute;
    left: -50%;
    bottom: -190%;
    border-radius: 33%;
    transition: all 1.4s linear; 
    animation: waves 2.4s linear infinite;
}

.lightblue{
    background: linear-gradient(to right, lightblue, blue
    );
}

@keyframes waves{
    0%{
        transform: rotate(0);
        border-radius: 30%;
        bottom: -170px;
    }
    45%{
        border-radius: 39%;
    }
    100%{
        transform: rotate(360deg);
        border-radius: 30%;
        bottom: -80px;
    }
}

  