#signup-content {
  border-radius: 2em;
  position: relative;
  top: -150%;
  left: 50%;
  margin: 0 auto;
  padding: 10px;
  width: 300px;
  height: 100px;
  box-shadow: 2px 2px 10px 2px #888;
}
#success-alert {
  position: relative;
  left: -50%;
  top: -130%;
}
.alert {
  box-shadow: 3px 3px 3px #888;
}
.img {
  width: 270px;
  margin-top: 10px;
}
.card {
  box-shadow: 3px 3px 3px #888;
}
#accordion {
width: 650px;
margin-right:20px;
}
h1 {
  color: black;
  text-align: center;
}
#login-buttons {
  margin: 0;
}

#fname {
border: 1px solid white;
border-radius: 4px;
box-shadow: 3px 3px 3px #888;
}
#fage {
  border: 1px solid white;
border-radius: 4px;
box-shadow: 3px 3px 3px #888;
}
#fgender {
  border: 1px solid white;
border-radius: 4px;
box-shadow: 3px 3px 3px #888;
}
#fwatergoal {
  border: 1px solid white;
border-radius: 4px;
box-shadow: 3px 3px 3px #888;
}
.update-profile {
  background: white;
  box-shadow: 2px 2px 10px 2px #888;
  border-radius: 8px;
  margin-right: 50px;
  margin-left: 20px;
  top: 38%;
  left: 5%;
  padding: 10px;
  width: 500px;
  height: 825px;
  font-size: 20px;
  text-align: center;
}

.facts-card {
  width: 500px;
  float: right;
  margin: 0 auto;
  border-radius: 3px;
  border: 1px solid grey;

  top: 100%;
  box-shadow: 3px 3px 3px #888;
  margin-right: 100px;
}

.header {
  
  padding: 50px;
  height: 30%;
  width: 30%; /** Use 100% to fill the width of the page **/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-bottom: 100px;
}

.img-banner {
  display: block;
  margin: 0 auto;
  width: 500px;
  margin-bottom:50x;
 
}
.content {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  border-radius: 3px;
  padding: 20px;
  padding-top: 100px;
  margin-top: 200px;
  font-family: "Helvetica Neue";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr;
  
}

.profile-container {
 
    border-radius: 2em;
    position: relative;
    /* top: 95%; */
    /* left: 40%; */
    margin: 0 auto;
    padding: 10px;
    width: 300px;
    height: 100px;
    box-shadow: 2px 2px 10px 2px #888;
}

.circle {
  width: 150px;
  height: 150px;
  position :relative;
  border: 5px solid #fff;
  box-shadow: 0 0 0 5px #4973ff;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 300px;
  margin-bottom: 150px;
}

.wave {
  position: relative;
  width: 100%;
  height: 100%;
  background: #4973ff;
  border-radius: 50%;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
}
.wave:before,
.wave:after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}
.wave:before {
  border-radius: 45%;
  background: rgba(255, 255, 255, 1);
  animation: animate 5s linear infinite;
}

.wave:after {
  border-radius: 40%;
  background: rgba(255, 255, 255, 0.5);
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

/* .column {
    float: left;
    width: 33%;
    border: 2px solid black;
    margin: 20px;
    padding: 5px;
  } */

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
  height: 100%;
  background: white;
  font-family: "Helvetica Neue";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

body {
  
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.box {
  width: 120px;
  height: 90px;
  border: 2px solid lightblue;
  border-radius: 5em;
  position: relative;
  overflow: hidden;

  transform: scale(2);
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes waves {
  0% {
    transform: rotate(0);
    border-radius: 30%;
    bottom: -170px;
  }
  50% {
    bottom: -150px;
    border-radius: 39%;
  }
  100% {
    transform: rotate(180deg);
    border-radius: 30%;
    bottom: -170px;
  }
}

/* WATER BOTTLE */

.remainder-header {
  color: white;
  font-size: 28px;
  
}
.water-bottle-container {
  background-color:#cce5ff;
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 3em;
  width: 238px;
  

  left: 45%;
  margin-bottom: 100px;
  box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.6) inset;
  box-shadow:  2px 2px 10px 2px #888;
}

:before,
:after {
  content: "";
  display: block;
  position: absolute;
}
.bottle {
  display: inline-block;
  position: relative;
  width: 200px;
  margin: 0 20px 40px 0;
}

.bottle:after {
  height: 28px;
  width: 200px;
  border-radius: 46px/10px;
  box-shadow: 0px 1px 4px -2px rgba(0, 0, 0, 0.2),
    0px 2px 10px -3px rgba(0, 0, 0, 0.1);
  bottom: -15.2px;
  z-index: 0;
}

.bottle:before {
  height: 28px;
  width: 200px;
  border-radius: 46px/10px;
  box-shadow: 0px 4px 20px -4px rgba(0, 26, 255, 0.3),
    0px 2px 15px -2px rgba(0, 119, 255, 0.4);
  bottom: -15.2px;
  z-index: 0;
}

.bottle_top {
  height: 60px;
  width: 160px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-top: none;
  border-bottom: none;
  margin: 0px auto;
}

.bottle_top:after,
.bottle_top:before {
  height: 20px;
  width: 156px;
  border-radius: 46px/10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  left: 0.5px;
  box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.6) inset;
}

.bottle_top:after {
  top: -12px;
  box-shadow: 0px 0px px rgba(255, 255, 255, 0.6) inset,
    0px 3px 3px -1px rgba(255, 255, 255, 0.3);
}

.bottle_top:before {
  top: 48px;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.4) inset;
}

.bottle_neck {
  height: 40px;
  width: 124px;
  position: relative;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-top: none;
  border-bottom: none;
  margin: 0px auto;
}

.bottle_neck:after,
.bottle_neck:before {
  height: 16px;
  width: 124px;
  border-radius: 30px/8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-top: none;
  left: -1px;
}

.bottle_neck:after {
  top: -8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 5px 3px -2px rgba(0, 0, 0, 0.05);
}

.bottle_neck:before {
  top: 30px;
}

.bottle_main {
  height: 300px;
  position: relative;
  width: 196px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-top: none;
  border-bottom: none;
}

.bottle_main:after,
.bottle_main:before {
  height: 24px;
  width: 196px;
  border-radius: 46px/10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  left: -1px;
}

.bottle_main:after {
  top: -14px;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.6) inset,
    0px 3px 3px -1px rgba(255, 255, 255, 0.4),
    0px 0px 3px rgba(0, 0, 0, 0.05) inset,
    0px 0px 6px rgba(255, 255, 255, 0.7) inset,
    0px 0px 3px rgba(0, 0, 0, 0.15) inset;
}

.bottle_main:before {
  top: 286px;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7) inset,
    0px 0px 3px rgba(0, 0, 0, 0.15) inset;
}

.bottle_mouth {
  height: 104px;
  width: 88px;
  margin: 0px auto;
  position: relative;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-top: none;
  border-bottom: none;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0) 5%,
    rgba(255, 255, 255, 0) 95%,
    rgba(255, 255, 255, 0.3)
  );
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.3);
}

.bottle_mouth:after {
  height: 12px;
  width: 88px;
  border-radius: 25px/6px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  left: -1px;
  top: -8px;
  z-index: 1;
  box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.3);
}

.bottle_inner {
  height: 298px;
  width: 92%;
  margin: 0px auto;
  border-radius: 10px 10px 20px 20px/10px;
  border: 1px solid rgba(0, 0, 0, 0.01);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom-width: 0.5px;
  position: relative;
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5) inset,
    0px 0px 8px rgba(255, 255, 255, 0.6) inset,
    0px 0px 5px rgba(255, 255, 255, 0.5);
  position: relative;
  top: 1px;
}

.bottle_inner:before {
  border-radius: 40px/4px;
  top: 280px;
  width: 90%;
  left: 3px;
  height: 18px;
}

.bottle_top .highlight {
  display: block;
  height: 60px;
  width: 30px;
  position: absolute;
  left: 5px;
  top: 10px;
  transform: skew(0deg, 0deg);
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.6) 4%,
    rgba(255, 255, 255, 0.2) 98%,
    rgba(255, 255, 255, 0)
  );
}

.bottle_top .highlight:after {
  height: 60px;
  width: 4px;
  left: -3px;
  top: -2px;
  transform: skew(0deg, 5deg);
  background: rgba(255, 255, 255, 0.3);
}

.bottle_main .highlight {
  display: block;
  height: 300px;
  width: 50px;
  position: absolute;
  left: 10px;
  top: 12px;
  transform: skew(0deg, 6deg);
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.5) 4%,
    rgba(255, 255, 255, 0.2) 98%,
    rgba(255, 255, 255, 0)
  );
  z-index: 2;
}

.bottle_main .highlight:after {
  height: 300px;
  width: 8px;
  left: -6px;
  top: 0px;
  transform: skew(0deg, 3deg);
  background: linear-gradient(
    top,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0) 80%
  );
}

.bottle_neck .highlight {
  display: block;
  height: 40px;
  width: 50px;
  position: absolute;
  left: 2px;
  top: 12px;
  transform: skew(0deg, 6deg);
  background: linear-gradient(
    left,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.3) 4%,
    rgba(255, 255, 255, 0.1) 98%,
    rgba(255, 255, 255, 0)
  );
}

.water {
  background: linear-gradient(
    -85deg,
    rgba(0, 110, 255, 0.35),
    rgba(0, 76, 216, 0.767) 70%,
    rgba(4, 0, 216, 0.4)
  );
  width: 98%;
  height: 298px;
  position: absolute;
  left: 1px;
  bottom: 2px;
  border-radius: 50px 50px 20px 20px/8px 8px 10px 10px;
  box-shadow: 0px 0px 6px rgba(0, 76, 216, 0.767) 70%, inset,
    0px 0.2px 3px -1px rgba(0, 0, 0, 0.3) inset,
    0px 2px 6px -1px rgba(0, 0, 0, 0.1) inset, 0px 2px 5px rgba(4, 0, 216, 0.4),
    0px 1px 3px rgba(0, 204, 255, 0.2);
  transition: height 1s ease;
}

.water:after {
  height: 20px;
  width: 176px;
  left: -1px;
  top: 0px;
  background: linear-gradient(
    left,
    rgba(0, 110, 255, 0.35),
    rgba(0, 76, 216, 0.767) 70%,
    rgba(4, 0, 216, 0.4)
  );
  border-radius: 50px/8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 1px 2px -1px rgba(0, 204, 255, 0.35);
}

.water:before {
  height: 20px;
  width: 164px;
  left: 4px;
  bottom: -4px;
  background: linear-gradient(
    left,
    rgba(0, 173, 216, 0.2),
    rgba(0, 204, 255, 0.1) 50%,
    rgba(0, 204, 255, 0.2) 80%,
    rgba(0, 173, 216, 0.3)
  );
  border-radius: 50px/10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: none;
  box-shadow: 0px -2px 3px -1px rgba(0, 204, 255, 0.25);
}

.btn {
  margin-left: 50px;
  background: #0066ff;
  border: 1px solid white;
  color: white;
}

.edit-button {
  margin-top: 20px;
  background: #0066ff;
  border: 1px solid white;
  color: white;
  border-radius: 6px;
  padding: 8px;
}

.delete-drink-container {
  padding: 10px;  
  background: white;
  width: 150px;
  height: 780px;
  
  border-radius: 1em;
  box-shadow: 2px 2px 10px 2px #888;
  align-content: center;
}

.delete-button {
  padding: 4px;
  background: #0066ff;
  border: 1px solid white;
  color: white;
  border-radius: 6px;
  margin-left: 10px;
}

/* bubbles */

/* .bubblesdiv {
  background: #4973ff;
  color: #333;
  font: 100% Lato, Arial, Sans Serif;
  height: 400px;
  width: 400px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
} */

#background-wrap {
  bottom: 0%;
  left: 0%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}

@-moz-keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}

@keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}

@-webkit-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

@-moz-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

/* ANIMATIONS */

.x1 {
  -webkit-animation: animateBubble 25s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 25s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 25s linear infinite,
    sideWays 2s ease-in-out infinite alternate;

  left: -5%;
  top: 5%;

  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
}

.x2 {
  -webkit-animation: animateBubble 20s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 20s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 20s linear infinite,
    sideWays 2s ease-in-out infinite alternate;

  left: 5%;
  top: 80%;

  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x3 {
  -webkit-animation: animateBubble 28s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 28s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 28s linear infinite,
    sideWays 2s ease-in-out infinite alternate;

  left: 10%;
  top: 40%;

  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  transform: scale(0.7);
}

.x4 {
  -webkit-animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;
  -moz-animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;

  left: 20%;
  top: 0;

  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

.x5 {
  -webkit-animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;

  left: 30%;
  top: 50%;

  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

.x6 {
  -webkit-animation: animateBubble 21s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 21s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 21s linear infinite,
    sideWays 2s ease-in-out infinite alternate;

  left: 50%;
  top: 0;

  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
}

.x7 {
  -webkit-animation: animateBubble 20s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 20s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 20s linear infinite,
    sideWays 2s ease-in-out infinite alternate;

  left: 65%;
  top: 70%;

  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x8 {
  -webkit-animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;
  -moz-animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;

  left: 80%;
  top: 10%;

  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

.x9 {
  -webkit-animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;

  left: 90%;
  top: 50%;

  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
}

.x10 {
  -webkit-animation: animateBubble 26s linear infinite,
    sideWays 0s ease-in-out infinite alternate;
  -moz-animation: animateBubble 26s linear infinite,
    sideWays 0s ease-in-out infinite alternate;
  animation: animateBubble 26s linear infinite,
    sideWays 0s ease-in-out infinite alternate;

  left: 80%;
  top: 80%;

  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

/* OBJECTS */

.bubble {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: 0 20px 30px rgba(8, 103, 245, 0.2),
    inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0 20px 30px rgba(10, 90, 240, 0.2),
    inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
  box-shadow: 0 20px 30px rgba(4, 98, 240, 0.2),
    inset 0px 10px 30px 5px rgba(255, 255, 255, 1);

  height: 200px;
  position: absolute;
  width: 200px;
}

.bubble:after {
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 70%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(255, 255, 255, 0.5)),
    color-stop(70%, rgba(255, 255, 255, 0))
  ); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 70%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 70%
  ); /* Opera 12+ */
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 70%
  ); /* IE10+ */
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 70%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);

  content: "";
  height: 180px;
  left: 10px;
  position: absolute;
  width: 180px;
}
