.header {
	margin-left: 33%;
	margin-bottom: 70%;
	margin-top: 20px;
	width: 35%;
	padding-top: 30px;
	padding-bottom: 10px;
	
}

/* .column {
    float: left;
    width: 33%;
    border: 2px solid black;
    margin: 20px;
    padding: 5px;
  } */
  
  /* Clear floats after the columns */


  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

body{
    height: 100%;
    background:white;
}

body{
    display: flex; 
    justify-content: center;
    align-items: center;
} 

.box{
    width: 90px;
    height: 90px;
    border: 2px solid lightblue;
    border-radius: 10em;
    position: relative;
    overflow: hidden;
    /* box-shadow: 2px 0px 40px black; */
    transform: scale(2);
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wave{
    width: 150px;
    height: 200px; /* where wave height is controlled */ 
    position: absolute;
    left: -50%;
    bottom: -190%;
    border-radius: 33%;
    transition: all 1.4s linear; 
    animation: waves 2.4s linear infinite;
}

.lightblue{
    background: lightblue;
    animation-fill-mode: forwards;
}

@keyframes waves{
    
    0%{
        transform: rotate(0);
        border-radius: 30%;
        bottom: -170px;
    }
    50%{
        bottom: -150px;
        border-radius: 39%;
    }
    100%{
        transform: rotate(180deg);
        border-radius: 30%;
        bottom: -170px;
    }
    
}

